@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

.tweetbox_input img{
    border-radius:50%;    ;
    height:40px;
    
}

.tweetbox{
padding-bottom:10px;
border-bottom: 1px solid var(--twitter-background);
padding-right:10px;
max-width: 800px;
}

.tweetbox form{
display: flex;
flex-direction: column;
}

.tweetbox_input{
display: flex;
padding:20px;
}

.tweetbox_input input{
flex: 1;
margin-left: 20px;
font-size: 20px;
border:none;
outline: none;
}

.tweetbox_tweetbutton{
background-color: #3D087B;
border: none;
color: white;
font-weight: 900;
border-radius:30px;
width: 80px;
height: 40px;
margin-top: 20px;margin-left: auto;
font-family:'Klee One', cursive;;
}

h3{
    font-size:18px;
   margin-left:20px;
}